*{
    margin : 0;
    padding : 0 ;
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
}

#banner {
    /* background-image: linear-gradient(  rgba(0,0,0,0) ,rgba(119 ,219 ,219 , 0.5)  ) ,linear-gradient(rgba(255, 20, 147 ,0.5) ,  rgba(0,0,0,0)) , url(imgs/slider1.jpeg); */
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    transition: background-image 2s ;
    /* position: fixed;
    z-index: 0; */
    background-attachment: fixed;
    display: flex;
}

#banner .logo{
    height: 45px;
    position: absolute;
    top: 3%;
    left: 10%;
    position: fixed;
    z-index: 10000000;
}
.banner-txt{
    position: absolute;
    top: 18%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    text-align: center;
    display: flex;
    opacity: 0.9;
    padding: 15px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}


.banner-txt h1 {
    font-size: 86px;
    color:#fff;
    font-family: 'Kaushan Script', cursive; 
    padding: 13px;
    justify-content: center;
    align-items: center;
}

.banner-txt p {
    font-size : 28px;
    color: #fff;
    padding: 14px;
}

.banner-txt a{
    text-decoration: none;
    padding: 11px;
    margin: 15px;
    display: inline-block;
    border: 0.5px solid #fff;
    color:#fff;
    position: relative;
    transition: 0.5s ease-in-out;
    z-index: 1;
    box-sizing: border-box;
    margin: 1em;
}
.btns{
    display: flex;
    flex-direction: row;
    height: 80px; 
    width: 480px;
    justify-content: space-evenly;
    text-align: center;
}
.btns a{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.banner-txt a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #fff;
    transition: 0.5s ease-in-out;
    transform-origin: left;
    z-index: -1;   
}
.banner-txt a:hover span{
    width: 100%;
    height: 100%;
}
.banner-txt a:hover {
    color: black;
}

@media (max-width:1122px) {
    .banner-txt h1{
        font-size: 70px;
    }
    .banner-txt a{
        padding: 10px;
        margin: 10px;
    }
    .btns{
        height: 68px;
        width: 440px;
    }
}
@media (max-width:716px) {
    .banner-txt h1{
        font-size: 55px ;
    }
    .banner-txt p{
        font-size: 20px;
    }

}
@media (max-width:560px){
    .banner-txt h1{
        font-size: 47px ;
    }
    .banner-txt p{
        font-size: 20px;
    }
}

@media (max-width:450px){
    .banner-txt h1{
        font-size: 40px ;
    }
    .banner-txt p{
        font-size: 20px;
    }
}
@media (max-width:408px){
    .btns{
        display: block;

    }
}
@media (max-width:380px){
    .banner-txt h1{
        font-size: 35px ;
    }
    .banner-txt p{
        font-size: 15px;
    }
    .banner-txt a{
        width: 38vw;
        padding: 3px;
        margin: 0px;
    
    }
    .btns{
        height: 40px;
        width: 480px;

    }
}
.sidenav{
    position: absolute;
    height: 100vh;
    z-index: 10000000000000;
    right: 0;
    top: 0; 
    background-color: #009688;
    width: 0px;
    text-align: center;
    transition: 0.5s ease-in-out;
    position: fixed;
    opacity: 0.95;
}

.sidenav ul {
    position: fixed;
}
.sidenav ul li 
{
    list-style: none;
    margin: 20px;
    padding: 20px;
    margin-top: 25%;
    
}
.sidenav ul li a{
    text-decoration: none;
    color: #fff;

}

.menu-btn {
    position: absolute;
    top : 6%;
    right: 2%;
    width: 25px;
    padding: 10px;
    z-index: 3;
    cursor: pointer;
    position: fixed;
    opacity: 0.95;
    border-radius: 50% ;
    background-color: rgba(255, 20, 147 ,0.2);
}


#our-initiativesOne{
    height: 200vh;
    width: 100vw;
    z-index: 100;
   /* background-color: #009b86; */
    position: relative;
   
}

.ini-h1{
    font-size: 70px;
    font-weight: 100;
    padding: 0 35px;
    text-transform:uppercase;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 80px 0 80px 0;
    color: #009686;
    text-shadow: 2px 3px 4px #0096bb;
}

.our-initiatives1
{
    display: flex;
    z-index: 1;
    height: 90vh;
}

.photo-in1
{
    flex: 1;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 90vh;
}

.photo-in1 img{
    height: 500px;
    width: 400px;
    background-color: white;
    padding: 15px;
}

.photo-in1::after
{
    content: '';
    position: absolute;
    height: 500px;
    width: 400px;
    top: 55%;
    left: 55%;
    transform: translate(-50%,-50%);
    border: 10px solid  #009686;
    z-index: -1;
}

.desc-in1
{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 45vw;
    justify-content: space-evenly;
    height: 90vh;

}
.desc-in1 h2{
    flex-shrink:1;
    font-weight: 700;
    color: rgba(255, 20, 147 ,0.35) ;
    justify-content: center;
    align-content: center;
    font-size: 45px;
    align-self: center;
    margin-top: 2em;
    text-align: center;
}
.desc-in1 p{
    flex-shrink: 2;
    justify-content: flex-start;
    padding: -10px;
    width: 35vw;
    padding:45px 0px;
    font-size: large;
    align-self: center;
}

.WE-btn1
{
    height: 30px;
    width: 100px;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding :15px 50px ;
    border: 0.8px solid rgba(255, 20, 147 ,0.5);
    cursor: pointer;
    color: rgba(255, 20, 147 ,0.7) ;
    text-decoration: none;
    position: relative;
    align-self: center;
}

.WE-btn1 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color:  rgba(255, 20, 147 ,0.5);
    transition: 0.5s ease-in-out;
    z-index: -1;
}

.WE-btn1:hover span{
    width: 100%;
}

.WE-btn1:hover
{
    color: #fff;
}
@media (max-width:1120px){
    .photo-in1 img{
        height: 400px;
        width: 300px;
    }
    .photo-in1::after {
        height: 400px;
        width: 300px;
    }
    .desc-in1 h2{
        font-size: 40px;
    }
    .desc-in1 p{
        font-size: 16px;
        padding:40px 0px;
    }
    .WE-btn1{
        height: 27px;
        width: 90px;
        padding :13px 45px ;

    }
}
@media (max-width:834px){
    .our-initiatives1{
        flex-direction: column;
        height: 400vh;
    }
    .photo-in1{
        width: 100vw;
        height: 80vh;
    }
    .photo-in1 img{
        height: 85vh;
        width: 60vw;
        align-self: center;
    }
    .photo-in1::after{
        height: 85vh;
        width: 60vw;
    }
    .desc-in1
    {
        width: 100vw;
        height: 65vh;
    }
}
/* - -- - - - - -   initiatives 2   - - - - - - - - */

.our-initiatives2
{
    display: flex;
    z-index: 1;
    height: 100vh;
}

.photo-in2
{
    /* margin: 1px; */
    flex: 1;
    width: 20vw;
    float: right;
    position: relative;
    height: 100vh;
    overflow-y: hidden !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.photo-in2 img{
    height: 500px;
    width: 400px;
    background-color: white;
    padding: 15px;

}

.photo-in2::after
{
    content: '';
    position: absolute;
    height: 500px;
    width: 400px;
    top: 55%;
    left: 55%;
    transform: translate(-50%,-50%);
    border: 10px solid  #009686;
    z-index: -1;
}
.desc-in2
{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 40vw;
    align-items: center;
    justify-content: space-evenly;
}
.desc-in2 h2{
    flex-shrink:1;
    padding: 40px;
    font-weight: 700;
    color: rgba(255, 20, 147 ,0.35) ;
    justify-content: center;
    align-content: center;
    font-size: 45px;
    align-self: center;
    text-align: center;
}
.desc-in2 p{
    flex-shrink: 1;
    justify-content: flex-start;
    padding: -10px;
    width: 35vw;
    padding: 55px 55px;
    align-self: center;
    font-size: large;
}

.WE-btn2
{
    height: 30px;
    width: 100px;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding :15px 50px ;
    border: 0.8px solid rgba(255, 20, 147 ,0.5);
    cursor: pointer;
    color: rgba(255, 20, 147 ,0.7) ;
    text-decoration: none;
    position: relative;
    align-self: center;
}

.WE-btn2 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color:  rgba(255, 20, 147 ,0.5);
    transition: 0.5s ease-in-out;
    z-index: -1;
}

.WE-btn2:hover span{
    width: 100%;
}

.WE-btn2:hover
{
    color: #fff;
}

@media (max-width:1120px){
    .photo-in2 img{
        height: 400px;
        width: 300px;
    }
    .photo-in2::after {
        height: 400px;
        width: 300px;
    }
    .desc-in2 h2{
        font-size: 40px;
    }
    .desc-in2 p{
        font-size: 16px;
        padding:40px 0px;
    }
    .WE-btn2{
        height: 27px;
        width: 90px;
        padding :13px 45px ;

    }
}
@media (max-width:834px){
    .our-initiatives2{
        flex-direction: column-reverse;
        height: 200vh;
    }
    .photo-in2{
        width: 100vw;
        height: 80vh;
    }
    .photo-in2 img{
        height: 85vh;
        width: 60vw;
        align-self: center;
    }
    .photo-in2::after{
        height: 85vh;
        width: 60vw;
    }
    .desc-in2
    {
        width: 100vw;
    }
}

#feed-form{
    display: flex;
    flex-direction: column;
    height: 120vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 20, 147 ,0.15);
}

.inp-form
{
    padding: 15px;
    display: flex;
    border: #fff;
    transition: 1s ease;
}

input[type=text]
{
    padding : 15px  30px;
    align-items: stretch;
    width: 40vw;
    background-color: transparent;
    border: 1px solid #009686;
    box-sizing: border-box;
    outline: none;
}
input[type=text]:focus
{
    background-color: rgba(0,150,134,0.2);
    border: none;
    box-sizing: border-box;
}
.num
{
    padding : 15px  30px;
    width: 40vw;
    background-color: transparent;
    border: 1px solid #009686;
    box-sizing: border-box;
    outline: none;
}
.num:focus{
    background-color: rgba(0,150,134,0.2);
    border: none;
    box-sizing: border-box;
}
.email-id
{
    padding : 15px  30px;
    width: 40vw;
    background-color: transparent;
    border: 1px solid #009686;
    box-sizing: border-box;
    outline: none;
}
.email-id:focus{
    background-color: rgba(0,150,134,0.2);
    border: none;
    box-sizing: border-box;
}
.txtarea
{
    padding : 10px;
    width: 45vw;
    background-color: transparent;
    border: 1px solid #009686;
    box-sizing: border-box;
    outline: none;
}
.txtarea:focus{
    background-color: rgba(0,150,134,0.2);
    border: none;
    box-sizing: border-box;
}
.feed-h2
{
    font-size: 60px;
    align-items: center;
    margin-left: 13vw;
    margin-bottom: 60px;
    font-weight: 250;
    color: rgba(0,150,134,0.5) ;
    text-shadow: 2px 3px 4px rgba(0,150,134,0.2);
}

.submitBtn
{
    display: inline-block;
    /* padding: 15px 25px; */
    width: 140px;
    height: 70px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    outline: none;
    border: rgba(0,150,134,1);
    padding: 0px 40px;
}
.submitBtn:hover
{
    background-color: rgba(0,150,134,0.4);
    border: rgba(0,150,134,1);
    opacity: 0.8;
}

/* - - - - - - - - - - -  media queries - - - - - - - - - -  */

@media (max-width:1119px) {
    
        
    }

