*{
    margin : 0;
    padding : 0 ;
    font-family: 'Poppins', sans-serif;
}

#banner {
    /* background-image: linear-gradient(  rgba(0,0,0,0) ,rgba(119 ,219 ,219 , 0.5)  ) ,linear-gradient(rgba(255, 20, 147 ,0.5) ,  rgba(0,0,0,0)) , url(imgs/slider1.jpeg); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    transition: background-image 2s ;
    /* position: fixed;
    z-index: 0; */
    background-attachment : fixed ;
}

#banner .logo{
    height: 45px;
    position: absolute;
    top: 3%;
    left: 10%;
    position: fixed;
    z-index: 10000000;
}
.banner-txt{
    position: absolute;
    top: 45%;
    left: 20%;
    text-align: center;
    opacity: 0.9;
}

.banner-txt h1 {
    font-size: 90px;
    color:#fff;
    font-family: 'Kaushan Script', cursive; ;
}

.banner-txt p {
    font-size : 30px;
    color: #fff;

}

.banner-txt a{
    text-decoration: none;
    padding: 15px;
    margin: 15px;
    display: inline-block;
    border: 0.5px solid #fff;
    color:#fff;
    position: relative;
    transition: 0.5s ease-in-out;
    z-index: 1;
}

.banner-txt a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #fff;
    transition: 0.5s ease-in-out;
    z-index: -1;
}
.banner-txt a:hover span{
    width: 100%;
}
.banner-txt a:hover {
    color: black;
}

.sidenav{
    position: absolute;
    height: 100vh;
    z-index: 10000000000000;
    right: 0;
    top: 0; 
    background-color: #009688;
    width: 0px;
    text-align: center;
    transition: 0.5s ease-in-out;
    position: fixed;
    opacity: 0.95;
}

.sidenav ul {
    position: fixed;
}
.sidenav ul li 
{
    list-style: none;
    margin: 20px;
    padding: 20px;
    margin-top: 25%;
    
}
.sidenav ul li a{
    text-decoration: none;
    color: #fff;

}

.menu-btn {
    position: absolute;
    top : 6%;
    right: 2%;
    width: 25px;
    padding: 10px;
    z-index: 3;
    cursor: pointer;
    position: fixed;
    opacity: 0.95;
    border-radius: 50% ;
    background-color: rgba(255, 20, 147 ,0.2);
}


#our-initiativesOne{
    height: 200vh;
    width: 100vw;
    z-index: 100;
   /* background-color: #009b86; */
   position: relative;
   
}

.ini-h1{
    font-size: 70px;
    font-weight: 100;
    padding: 0 35px;
    text-transform:uppercase;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 80px 0 80px 0;
    color: #009686;
    text-shadow: 2px 3px 4px #0096bb;
}

.our-initiatives1
{
    display: flex;
    z-index: 1;
    height: 100vh;
}

.photo-in1
{
    padding: 5px ;
    /* margin: 1px; */
    flex: 1;
    width: 20vw;
}

.photo-in1 img{
    height: 500px;
    width: 400px;
    background-color: white;
    padding: 15px;
    margin-left: 20%;
}

.photo-in1::after
{
    content: '';
    position: absolute;
    height: 500px;
    width: 400px;
    top: 45px;
    left: 190px;
    border: 10px solid  #009686;
    z-index: -1;
}
.desc-in1
{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 45vw;
}
.desc-in1 h2{
    flex-grow:1;
    padding: 25px;
    font-weight: 700;
    color: rgba(255, 20, 147 ,0.5) ;
    justify-content: center;
    align-content: center;
    font-size: 45px;

}
.desc-in1 p{
    flex-grow: 4;
    justify-content: flex-start;
    padding: -10px;
    width: 50vw;
    padding: 0 15px;
    font-size: large;

}

.WE-btn1
{
    height: 30px;
    width: 100px;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding :15px 50px ;
    border: 0.8px solid rgba(255, 20, 147 ,0.5);
    cursor: pointer;
    position: absolute;
    top: 26%;
    left: 65%;
    color: rgba(255, 20, 147 ,0.9) ;
    text-decoration: none;

}

.WE-btn1 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color:  rgba(255, 20, 147 ,0.5);
    transition: 0.5s ease-in-out;
    z-index: -1;
}

.WE-btn1:hover span{
    width: 100%;
}

.WE-btn1:hover
{
    color: #fff;
}

/* - -- - - - - -   initiatives 2   - - - - - - - - */

.our-initiatives2
{
    display: flex;
    z-index: 1;
    height: 100vh;
}

.photo-in2
{
    padding: 5px ;
    /* margin: 1px; */
    flex: 1;
    width: 20vw;
    justify-content: flex-end;
    float: right;
}

.photo-in2 img{
    height: 500px;
    width: 400px;
    background-color: white;
    padding: 15px;
    margin-left: 20%;
}

.photo-in2::after
{
    content: '';
    position: absolute;
    height: 500px;
    width: 400px;
    top: 767px;
    right: 160px;
    border: 10px solid  #009686;
    z-index: -1;
}
.desc-in2
{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 45vw;

}
.desc-in2 h2{
    flex-grow:1;
    padding: 25px;
    font-weight: 700;
    color: rgba(255, 20, 147 ,0.5) ;
    justify-content: center;
    align-content: center;
    font-size: 45px;
    padding-left: 50px;
}
.desc-in2 p{
    flex-grow: 4;
    justify-content: flex-start;
    padding: -10px;
    width: 45vw;
    padding: 0 15px;
    padding-left: 50px;
    font-size: large;

}

.WE-btn2
{
    height: 30px;
    width: 100px;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding :15px 50px ;
    border: 0.8px solid rgba(255, 20, 147 ,0.5);
    cursor: pointer;
    position: absolute;
    top: 76%;
    right: 65%;
    color: rgba(255, 20, 147 ,0.9) ;
    text-decoration: none;

}

.WE-btn2 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color:  rgba(255, 20, 147 ,0.5);
    transition: 0.5s ease-in-out;
    z-index: -1;
}

.WE-btn2:hover span{
    width: 100%;
}

.WE-btn2:hover
{
    color: #fff;
}

#feed-form{
    display: flex;
    flex-direction: column;
    height: 120vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 20, 147 ,0.15);
}

.inp-form
{
    padding: 15px;
    display: flex;
    border: #fff;
    transition: 1s ease;
}

input[type=text]
{
    padding : 15px  30px;
    align-items: stretch;
    width: 40vw;
    background-color: transparent;
    border: 1px solid #009686;
    box-sizing: border-box;
    outline: none;
}
input[type=text]:focus
{
    background-color: rgba(0,150,134,0.2);
    border: none;
    box-sizing: border-box;
}
.num
{
    padding : 15px  30px;
    width: 40vw;
    background-color: transparent;
    border: 1px solid #009686;
    box-sizing: border-box;
    outline: none;
}
.num:focus{
    background-color: rgba(0,150,134,0.2);
    border: none;
    box-sizing: border-box;
}
.email-id
{
    padding : 15px  30px;
    width: 40vw;
    background-color: transparent;
    border: 1px solid #009686;
    box-sizing: border-box;
    outline: none;
}
.email-id:focus{
    background-color: rgba(0,150,134,0.2);
    border: none;
    box-sizing: border-box;
}
.txtarea
{
    padding : 10px;
    width: 45vw;
    background-color: transparent;
    border: 1px solid #009686;
    box-sizing: border-box;
    outline: none;
}
.txtarea:focus{
    background-color: rgba(0,150,134,0.2);
    border: none;
    box-sizing: border-box;
}
.feed-h2
{
    font-size: 60px;
    align-items: center;
    margin-left: 13vw;
    margin-bottom: 80px;
    font-weight: 250;
    color: rgba(0,150,134,0.5) ;
    text-shadow: 2px 3px 4px rgba(0,150,134,0.2);
}

.submitBtn
{
    display: inline-block;
    /* padding: 15px 25px; */
    width: 140px;
    height: 70px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    outline: none;
    border: rgba(0,150,134,1);
    padding: 0px 40px;
}
.submitBtn:hover
{
    background-color: rgba(0,150,134,0.4);
    border: rgba(0,150,134,1);
    opacity: 0.8;
}
